<html>
    <head>
         <title>Sample Web Form</title> 
    </head>
<body>

<h1>Fill Out This Form</h1>

<form action="/hello/"  enctype="multipart/form-data" method="POST">
  A Greeting: <input type="text" name="greeting">
  <br/>
  Your Name: <input type="text" name="name">
  <br/>
    <input name="file" type="file" />
  <br/>  
  <input type="submit">
</form>

<!-- The form tag says where to deliver this form. in our case it's delivered to the post '/hello/' handler which tells the browser to use this as a form.-->

<!-- Input gives the type of input field we might want in our form.-->

</body>
</html>
  
  

